# Invoice App - PEPPOL BIS Billing 3.0 Compliant
title: Invoice App
description: PEPPOL BIS Billing 3.0 compliant invoice generator
baseurl: "/invoice-app"
url: "https://reinis.paulins.github.io"

# Build settings
markdown: kramdown
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - .gitignore
